$fit-width: 960px;

/* GENERAL STYLES */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.04em;
	background-color: #eee;
	color: #222;
}

h1 {
	margin: 0.5em 0;
	font-size: 1.5em;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 0.24em;
	font-size: 1.24em;
	text-transform: uppercase;
}

p {
	margin-top: 0.1em;
}

ul {
	margin: 0;
}

button, input[type='submit'] {
	padding: 6px 8px;
	border: none;
	text-transform: uppercase;
	background-color: #e74c32;
	color: #fafafa;
}

button:hover, input[type='submit']:hover {
	background-color: #dd622f;
}

input {
	margin-bottom: 12px;
	display: block;
}

input[type='submit'] {
	float: right;
}

input[type='radio'] {
	float: left;
	margin: 4px 24px 0 0;
}

input[type='date'], input[type='time'] {
	margin-right: 4px;
	display: inline-block;
}

form {
	padding: 10px 20px;
}

noscript div {
	width: $fit-width;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.fit {
	max-width: $fit-width;
	margin: 0 auto;
	padding: 0;
	background-color: #fafafa;
}

#page-header {
	margin-top: 30px;
	padding: 10px 30px;
	text-transform: uppercase;
	background-color: #303038;
	color: #fefefe;
}

.footer {
	margin-top: 40px;
}


/* MAIN HEADER */
#header {
	height: 70px;
	line-height: 70px;
	background-color: #d03737;
	color: #fefefe;
}

#header .fit {
	background-color: transparent;
}

#header h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
	margin: 0 20px;
}


/* MENU PAGE */
#product-list {
	padding-left: 0;
	list-style-type: none;
}

#product-list li {
	padding: 10px 30px 9px;
	background-color: #fafafa;
	border-bottom: 1px solid #fafafa;
	cursor: pointer;
}

#product-list li:nth-child(odd) {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

#product-list li.highlight {
	background-color: #fffcb6;
}

#product-list li:hover {
	background-color: #fdfbd9
}

#product-list p {
	color: #555;
}

#menu-page form {
	height: 30px;
	background-color: #e2e2e2;
}


/* DELIVERY PAGE */
#delivery-page {
	padding: 0;
	background-color: #fafafa;
}

#delivery-page ul {
	padding-left: 0;
	list-style-type: none;
}


/* PAYMENT PAGE */
#payment-page {
	padding: 0;
	background-color: #fafafa;
}


/* PLACE ORDER PAGE */
#order-summary {
	padding: 0 30px 20px;
}
