$fit-width: 960px;

noscript div {
	width: $fit-width;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.fit {
	width: $fit-width;
	margin: 0 auto;
}

#header {
	background-color: #ccc;
}

#content {
	background-color: #ddd;
}

#product-list {
	padding-left: 0;
	list-style-type: none;
}

#product-list li {
	background-color: green;
}

#product-list li.highlight {
	background-color: blue;
}

#product-list li input {
	display: none;
}