$fit-width: 960px;

/* GENERAL STYLES */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #222;
}

h1 {
	font-size: 1.76em;
	margin: 0.5em 0;
}

h2 {
	margin-bottom: 0.5em;
}

p {
	margin-top: 0.8em;
}

ul {
	margin: 0;
}

input[type='submit'] {
	float: right;
}

form {
	padding: 10px 20px;
}

noscript div {
	width: $fit-width;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.fit {
	max-width: $fit-width;
	margin: 0 auto;
	padding: 10px;
}

#page-header {
	margin-top: 30px;
	padding: 10px 20px;
	background-color: #303038;
	color: #fefefe;
}


/* MAIN HEADER */
#header {
	height: 70px;
	line-height: 50px;
	background-color: #d03737;
	color: #fefefe;
}

#header h1 {
	font-size: 1.8em;
	margin: 0 20px;
}


/* MENU PAGE */
#menu-page #page-header {
	margin-top: 20px;
	padding-left: 30px;
}

#product-list, #delivery-page ul {
	padding-left: 0;
	list-style-type: none;
}

#product-list li {
	padding: 10px 30px 9px;
	background-color: #fafafa;
	border-bottom: 1px solid #fafafa;
	cursor: pointer;
}

#product-list li:nth-child(odd) {
	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}

#product-list li.highlight {
	background-color: #fffcb6;
}

#product-list li:hover {
	background-color: #fdfbd9
}

#product-list li input {
	display: none;
}

#menu-page form {
	height: 24px;
	background-color: #e2e2e2;
}


/* DELIVERY PAGE */
#delivery-page {
	padding: 0;
	background-color: #fafafa;
}
